h1 {
	font-family: "Times New Roman", serif; 
}
h2 {
	font-family: "Times New Roman", serif;
}
h3 {
	font-family: "Times New Roman", serif;
}
p {
	font-family: "Times New Roman", serif;
	font-size: 1.5em; /* 24px */ 
}
